<ion-view view-title="Keresés">

  <ion-content>
    <div class="search-wrapper list">
      <form class="item item-input-inset" ng-submit="searchChlothes(searchWord)">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Keresés" ng-model="searchWord">
        </label>
        <button class="button button-small">
          <span class="ion-ios-search-strong"></span>
        </button>
      </form>
    </div>

    <h2 class="text-center" ng-show="loading">Töltés...</h2>

    <div class="results-wrapper row" ng-if="items">
      <div class="result col col-50" ng-repeat="item in items">
        <img class="result__thumbnail" ng-if="item.type === 'bpshop'" ng-src="{{'http://www.bpshop.hu/' + item.image}}">
        <img class="result__thumbnail" ng-if="item.type !== 'bpshop'" ng-src="{{item.image}}">
        <p class="result__name">{{item.name}}</p>
      </div>
    </div>

  </ion-content>
</ion-view>
