<ion-view view-title="Beállítások">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableShopSearch">
        Keresés boltok alapján
    </ion-toggle>
    <div ng-show="settings.enableShopSearch">
      <ion-toggle  ng-model="settings.enableShop1">
        H&M
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableShop2">
        Zara
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableShop3">
        Bershka
      </ion-toggle>
      <ion-toggle  ng-model="settings.enableShop4">
        BP Shop
      </ion-toggle>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
