/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

.result {
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 15px;

  &__thumbnail {
    max-width: 320px;
    height: auto;
    margin-bottom: 10px;
    width: 100%;
  }

  &__name {
    text-align: center;
    font-weight: bold;
  }
}

.results-wrapper {
  flex-wrap: wrap;
}

.search-wrapper {
  //margin: -11px;
}